{% extends "layout.html" %}
{% block body %}

</div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <main id="main">
   <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Vasinato</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Vasinato is providing Private Discord Bot since 2020 before our website! 
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Vasinato is a Private Bot Service at help people to expand their Superb business with Bots! but only in India and UPI enabled Countries.

              Started on 24th March 2020, Vasinato Privates bots is also working on many other Projects. Vasinato is been working in Many AI and Graphics related fields. We're also working on Agumented Reality Based Games and normal 3D games are however under Development mode. We're working on an Open world game known as "Life", which is a game based on life of a teenage homosexual boy and his adventure to save his life in a terror supporting country.Our 2nd game is known as "Widow" which is a horror game about a Widow who was killed by a Gangster along with her's child. This will be a long story based game in which the hero will escape from the horror Village and take revenge from the villan.
            </p>
            
          </div>
        </div>
      </div>
    </section><!-- End TC summary Section -->


{% endblock %}