{% extends "layout.html" %}
{% block body %}

</div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <main id="main">
   <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Terms And Conditions</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Vasinato is providing Private Discord Bot since 2020 before our website! 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> • Our Python Bot have a Unique UI</li>
              <li><i class="ri-check-double-line"></i>• More Featured</li>
              <li><i class="ri-check-double-line"></i>• New Updates every 1 Year</li>
              <li><i class="ri-check-double-line"></i></li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Vasinato Provides you software,Technology and also allow you to participate in our Competitions. All elements of Vasianto Platform along with with our software,Technology belongs to us. 

              By registering your Private
            </p>
            
          </div>
        </div>
      </div>
    </section><!-- End TC summary Section -->

<!-- Write Terms and Conditions for Vasinato Private Bots Service in html from scratch--> 
{% endblock %}